body {
	font-family: Arial, Verdana, sans-serif;
	background-color: #EC9D45;
	color: #FFBC71;
	padding: 10x;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
	margin-bottom: 100px;
}

p {
	color: #AF610A;
;

}

#top{
	color: #884800;


}

a{
	color: #AF610A;


}

h1, h2, h3, h4 {
	color: #884800;
	;

}

#summary{
	color: #AF610A;

}

#strengths{
	color: #884800;

}

#list_of_strengths{
	color: #AF610A;


}

#experience{
	color: #884800;


}

.company{
	color:#884800;
	padding: inherit;


}

.company_summary{
	color: #AF610A;


}

.title{
	color: #AF610A;


}

.description{
	color: #884800;


}

.accomplishments{
	color: #884800;


}

#education{
	color: #884800;


}

.degree
{
	color: #884800;


}
#list_of_skills
{
	color: #884800;


}
.skills{
	color: #884800;
;


}

#skills{


}

.videos{
	padding: inherit;
	color: #AF610A;
	

}
#footer
{


}