body {
	font-family: Arial, Verdana, sans-serif;
	background-color: #f3e9e4;
	color: #006253;
	padding: 10x;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
	margin-bottom: 100px;
}

p {
	color: #58b455
;
	background-color: #f3e9e4
;
}

#top{


}

a{


}

h1, h2, h3 {
	color: #e006253;
	;

}

#summary{
	color: #a80080;

}

#strengths{
	color: #a80080;

}

#list_of_strengths{
	color: #58b455;


}

#experience{
	color: #006253;


}

.company{
	color: #a80080;
	padding: inherit;


}

.company_summary{
	color: #58b455;


}

.title{
	color: #e98968;


}

.description{


}

.accomplishments{


}

#education{


}

.degree
{


}
#list_of_skills
{
	color: #006253;


}
.skills{
	color: #58b455
;


}

#skills{


}

.videos{
	padding: inherit;
	#58b455;

}
#footer
{


}