body {
	font-family: Arial, Verdana, sans-serif;
	background-color: ##F9F9F9;
	color: #64a1a5;
	padding: 10x;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
	margin-bottom: 100px;
}

p {
	color: #64a1a5;
	background-color: ##F9F9F9;
}

#top{


}

a{


}

h1, h2, h3 {
	color: #ed767a;
	;

}

#summary{
	color: #b54a71;

}

#strengths{
	color: ed767a;

}

#list_of_strengths{
	color: ed767a;


}

#experience{
	color: b54a71;


}

.company{
	color: ed767a;
	padding: inherit;


}

.company_summary{


}

.title{


}

.description{


}

.accomplishments{


}

#education{


}

.degree
{


}
#list_of_skills
{

}
.skilss{

}

#skills{


}

.videos{
	padding: inherit;

}
#footer
{


}